<table>
	<tr>
			<td><%= image_tag @imagem.avatar.url(:large) %></td>
	</tr>
		<tr>
			<td align="right"><%=h @imagem.descricao %></td>
	</tr>
</table>
</br>
<%= link_to 'Edit', edit_admin_evento_imagem_path(@evento, @imagem) %> |
<%= link_to 'Back', admin_evento_imagems_path %>
