<h1>Informações</h1>
<div id="main_content">
	<h2>A Escola oferece:</h2>
		<ul>
			<li>De Berçário à Ensino Fundamental I</li>
			<li>Período normal (manhã e tarde) e período integral</li>
			<li>Funcionamento anual, sem fechar nas férias. Trabalhamos em regime de plantão, cobrando uma taxa extra</li>
			<li>Período normal (manhã e tarde) e período integral</li>
			<li>
				Período que a escola estará fechada de
				<ul>
					<li>22/12/2008 à 04/01/2009</li>
				</ul>
			</li>
			<li>Ampla área de lazer</li>																				
		</ul>
		<p>Atividades extracurriculares, Artes, Música, Inglês e informática, ministrada pelas próprias professoras, aprimorando o conteúdo trabalhado em sala.</p>
		<p><b>Escola conveniada com:</b> <a href="http://www.portalpositivo.com.br"><img src="images/8643.png" style="border: 0px;" /></a></p>
</div>
<div id="side_content">
	<img src="images/nos-full.jpg" height="200" width="150" style="border: 0px;" />
</div>