<h1>Eventos</h1>
<div id="eventos_content">
<% 
	count = 0
	for evento in @eventos 
%>

	<div class="div_eventos"<%= (count % 2 == 0) ? '' : 'style="background-color:#F5F5F5"' %>>
		<span class="evento_item_titulo">
			<%= link_to_remote evento.data.strftime("%d/%m/%Y") + ' - ' + evento.titulo, :update => 'fotos_content', :url =>{ :controller=> 'eventos', :action => 'teste', :id => evento.id} %>
		</span>
	</div>
<% 
	count = count + 1
	end 
%>
<div class="div_paginacao">
<%= will_paginate @eventos,  options = { :prev_label => "anterior", :next_label => "próximo"} %>
</div>
</div>
<div id="fotos_content">
	Selecione um evento
</div>

<br />
<br />