<div id="div_evento_content">

	<%=h @evento.data.strftime("%d/%m/%Y") %> - <%=h @evento.titulo %>
	<br />
	<%=h @evento.descricao %>
	<br />
	<br />
	<% for imagem in @evento.imagems %>
		<%= link_to image_tag(imagem.avatar.url(:thumb)), 
		imagem.avatar.url(:large), {:rel => 'lightbox[col]', :class => 'images', :title => imagem.descricao} %> 
	<% 	end %>	

</div>