<h1>Listing imagems</h1>

<table>
<% for imagem in @imagems %>
  <tr>
		<td><%= link_to image_tag(imagem.avatar.url(:thumb)), imagem %></td>
    <td><%=h imagem.nome %></td>
  </tr>
<% end %>
</table>
<%= will_paginate @imagems %>